manifest {
    name = 'nf-annotate-lcms'
    description = 'Convert LC-MS feature tables to LAMP input and run LAMP annotation.'
    mainScript = 'main.nf'
    version = '0.1.0'
    defaultBranch = 'main'
    nextflowVersion = '>=25.10.0'
    homePage = 'https://github.com/wilsontom/nf-annotate-lcms'
}

params {
    outdir = 'results'
    output_name = 'lamp_input.tsv'
    sep = 'tab'
    mz_col = 'mzmed'
    rt_col = 'rtmed'
    rscript_bin = 'Rscript'
    lamp_bin = 'lamp'
    skip_lamp = false

    lamp_col_idx = '1,2,3,4'
    lamp_ion_mode = 'neg'
    lamp_thres_rt = 1.0
    lamp_thres_corr = 0.5
    lamp_thres_pval = 0.05
    lamp_method = 'pearson'
    lamp_positive = true
    lamp_ppm = 5.0
    lamp_cal_mass = true
    lamp_ref_path = ''
    lamp_ref_sep = 'tab'
    lamp_add_path = ''
    lamp_add_sep = 'tab'
    lamp_save_db = true
    lamp_save_mr = true
    lamp_db_out = 'lamp_results.db'
    lamp_sr_out = 'lamp_annotations.tsv'
    lamp_sr_sep = 'tab'
    lamp_mr_out = 'lamp_annotations_multirow.tsv'
    lamp_mr_sep = 'tab'

    apptainer_image = "${projectDir}/containers/apptianer.def"
    apptainer_cache_dir = null
    apptainer_run_options = null
    slurm_queue = null
    slurm_account = null
    slurm_cluster_options = null
    slurm_per_cpu_mem = false
}

process {
    executor = 'local'
    errorStrategy = 'terminate'
}

profiles {
    local {
        process {
            executor = 'local'
            errorStrategy = 'terminate'
        }
    }

    test {
        params {
            values = 'testing/feature_values_into.csv'
            features = 'testing/feature_definitions.csv'
            outdir = 'results/test'
        }
    }

    hpc {
        params {
            rscript_bin = '/opt/conda/bin/Rscript'
            lamp_bin = '/opt/conda/bin/lamp'
        }

        process {
            executor = 'slurm'
            errorStrategy = 'terminate'
            container = params.apptainer_image
            queue = params.slurm_queue
            clusterOptions = [params.slurm_account ? "--account=${params.slurm_account}".toString() : null, params.slurm_cluster_options].findAll { it }.join(' ')
        }

        executor {
            perCpuMemAllocation = params.slurm_per_cpu_mem
        }

        apptainer {
            enabled = true
            autoMounts = true
            cacheDir = params.apptainer_cache_dir
            runOptions = params.apptainer_run_options
        }
    }

    apptainer {
        process.container = params.apptainer_image
        apptainer.enabled = true
        apptainer.autoMounts = true
    }

    singularity {
        process.container = params.apptainer_image
        singularity.enabled = true
        singularity.autoMounts = true
    }
}
